.productsContainer {
  padding: 24px;
  background: #f5f5f5;
  min-height: 100vh;
  min-width: 1200px;
}

.header {
  background: white;
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 24px;
  display: flex;
  gap: 200px;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.titleSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.titleSection h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.searchSection {
  width: 900px;
  :global{
    .ant-input-affix-wrapper{
      background: #CFCFCF;
    }
  }
}

.tableContainer {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.productName {
  font-weight: 700;
  margin-bottom: 4px;
}

.buttonContainer{
  width: 50px;
  :global{
    .ant-btn{
      width: 100%;
    }
  }
}

.productCategory {
  font-size: 12px;
  color: #8c8c8c;
}

.vendorTag {
  font-weight: 700;
  font-size: 13px;
}

.ratingLow {
  color: #ff4d4f !important;
  font-weight: 600;
}

.footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:global(.ant-table) {
  font-size: 14px;
}

:global(.ant-table-thead > tr > th) {
  background: #fafafa;
  font-weight: 600;
}

:global(.ant-table-tbody > tr > td) {
  padding: 16px 16px;
}